<div class="row white">
    <div class="container">
        <a><i class="large material-icons indigo-text text-darken-3">face</i></a>
        <p class="grey-text lighten-2">
            Welcome to Grid Dynamics
        </p>
        <div class="logo indigo-text ">
            {{TITLE}}
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <p class="grey-text lighten-2 center-align">Please Sign In to Your Google Account to start using the Application.</p>
        <a class="waves-effect waves-light btn indigo accent-2"
           (click)="signIn();">Sign In</a>
    </div>
</div>